<? xml version = " 1.0 " encoding = " UTF-8 " ?>
< plugin  xmlns = " http://apache.org/cordova/ns/plugins/1.0 "
    xmlns : android = " http://schemas.android.com/apk/res/android "
    id = " cordova-plugin-toastyplugin "  version = " 0.0.1 " >
    < name > ToastyPlugin </ name >
    
    < description > Um plug-in Android Cordova que permite aos usuários exibir mensagens simples do Toast na parte inferior da tela. </ description >
    < license > MIT </ license >
    
    < palavras-chave > cordova, android, brinde, mensagem, alerta </ keywords >
    < repo > https://github.com/stanidesis/toastyplugin/Toast-PhoneGap-Plugin.git </ repo >
    < issue > https://github.com/stanidesis/toastyplugin/issues </ issue >
    
    < motores >
        < nome do motor  = " cordova " versão = " > = 3.0.0 " />
    </ engines >
    
    < js-module  src = " www / toastyplugin.js "  nome = " toastyPlugin " >
        < clobbers  target = " window.plugins.toastyPlugin " />
    </ js-module >
    < nome da plataforma  = " android " >
        < target -file-config  = " res / xml / config.xml " parent = " / * " >
            < nome do recurso  = " ToastyPlugin " >
                < param  name = " android-pacote "  value = " com.stanleyidesis.cordova.plugin.ToastyPlugin " />
            </ feature >
        </ config-file >
        
        < fonte-arquivo  src = " src / android / ToastyPlugin.java "  target-dir = " src / com / stanleyidesis / cordova / plugin " />
    </ platform >
</ plugin >
